// Variables
$fontFamily:'Roboto',
sans-serif;

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: $fontFamily;
    overflow-x: hidden;
    background-color: aliceblue;
}